body{
    background: url('image/bg.jpg') no-repeat center;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*     Registraion page CSS        */

.register-form {
    background-color: white;
    background-size: contain;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: none;
  }
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .register-form label {
    display: block;
    margin-bottom: 5px;
  }
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .register-form button:hover {
    background-color: #45a049;
  }


  /* Login form CSS  */

  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: none;
  }
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .login-form button:hover {
    background-color: #45a049;
  }


  /* Graphical Password  */

.mainContainer{
    background: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    width: 400px;
    display: none;
}

  #patternContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    height: auto;
}
.patternPoint {
    width: 70px;
    height: 70px;
    background-color:red;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}
.selected {
    background-color: #4CAF50;
}

#buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: auto;
}
#buttonsContainer button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    width: auto;
  }
  #buttonsContainer button:hover {
    background-color: #45a049;
  }


  /* WelCome Page  */

  #welcomeSection {
    text-align: center;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: none;
  }
  #logoutButton,#storageButton {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
  }
  #logoutButton:hover {
    background-color: #e31b0c;
  }

  #storageButton:hover {
    background-color: #e31b0c;
  }